{% extends 'base.html' %}
<!-- Adjust this to extend from your base template -->

{% block content %}
<div class="max-w-4xl mx-auto m-10 p-6 bg-gray-800 rounded-lg shadow-lg">
  <h2 class="text-3xl font-semibold text-blue-400 mb-6">
    {% if object %}Edit Transaction{% else %}Add Transaction{% endif %}
  </h2>

  <form method="post" action="" class="space-y-6">
    {% csrf_token %}
    <!-- Amount Field -->
    <div class="sm:col-span-6">
      <label for="id_amount" class="block text-sm font-medium text-gray-300"
        >Amount</label
      >
      <input
        type="number"
        name="amount"
        id="id_amount"
        required
        value="{{ form.fields.amount.value }}"
        class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-600 bg-gray-700 text-white rounded-md"
      />
    </div>

    <!-- Description Field -->
    <div class="sm:col-span-6">
      <label
        for="id_description"
        class="block text-sm font-medium text-gray-300"
        >Description</label
      >
      <input
        type="text"
        name="description"
        id="id_description"
        required
        value="{{ form.fields.description.value }}"
        class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-600 bg-gray-700 text-white rounded-md"
      />
    </div>

    <!-- Wallet Tabbed Interface -->
    <div class="space-y-2">
      <label class="block text-sm font-medium text-gray-300">Wallet</label>
      <div class="flex space-x-2">
        <!-- Adjusted spacing and removed bg and rounded-md from here -->
        {% for wallet in form.fields.wallet.queryset %}
        <button
          type="button"
          class="wallet-tab text-gray-300 py-2 px-4 text-sm font-medium focus:outline-none focus:ring-2 focus:ring-blue-500 focus:text-blue-400 bg-gray-700 hover:bg-gray-600 rounded-md"
          data-value="{{ wallet.id }}"
        >
          {{ wallet.name }}
        </button>
        {% endfor %}
      </div>
      <input
        type="hidden"
        id="id_wallet"
        name="wallet"
        value="{{ form.fields.wallet.value }}"
      />
    </div>

    <!-- Transaction Type Tabbed Interface -->
    <div class="space-y-2">
      <label class="block text-sm font-medium text-gray-300"
        >Transaction Type</label
      >
      <div class="flex space-x-2">
        <!-- Adjusted spacing -->
        {% for choice in form.fields.transaction_type.choices %} 
          {% if choice.0 != '' %}
          <button
            type="button"
            class="transaction-type-tab text-gray-300 py-2 px-4 text-sm font-medium focus:outline-none focus:ring-2 focus:ring-blue-500 focus:text-blue-400 bg-gray-700 hover:bg-gray-600 rounded-md"
            data-value="{{ choice.0 }}"
          >
            {{ choice.1 }}
          </button>
          {% endif %} 
        {% endfor %}
      </div>
      <input
        type="hidden"
        id="id_transaction_type"
        name="transaction_type"
        value="{{ form.fields.transaction_type.value }}"
      />
    </div>

    <!-- Budget Tabbed Interface -->
    <div class="space-y-2">
      <label class="block text-sm font-medium text-gray-300">Budget</label>
      <div class="flex space-x-2">
        <!-- Adjusted spacing -->
        {% for budget in form.fields.budget.queryset %}
        <button
          type="button"
          class="budget-tab text-gray-300 py-2 px-4 text-sm font-medium focus:outline-none focus:ring-2 focus:ring-blue-500 focus:text-blue-400 bg-gray-700 hover:bg-gray-600 rounded-md"
          data-value="{{ budget.id }}"
        >
          {{ budget.name }}
        </button>
        {% endfor %}
      </div>
      <input
        type="hidden"
        id="id_budget"
        name="budget"
        value="{{ form.fields.budget.value }}"
      />
    </div>

    <!-- Goal Tabbed Interface -->
    <div class="space-y-2">
      <label class="block text-sm font-medium text-gray-300">Goal</label>
      <div class="flex space-x-2">
        <!-- Adjusted spacing -->
        {% for goal in form.fields.goal.queryset %}
        <button
          type="button"
          class="goal-tab text-gray-300 py-2 px-4 text-sm font-medium focus:outline-none focus:ring-2 focus:ring-blue-500 focus:text-blue-400 bg-gray-700 hover:bg-gray-600 rounded-md"
          data-value="{{ goal.id }}"
        >
          {{ goal.name }}
        </button>
        {% endfor %}
      </div>
      <input
        type="hidden"
        id="id_goal"
        name="goal"
        value="{{ form.fields.goal.value }}"
      />
    </div>

    <!-- Category Tabbed Interface -->
    <div class="space-y-2">
      <label class="block text-sm font-medium text-gray-300">Category</label>
      <div class="flex space-x-2">
        <!--
Adjusted spacing -->
        {% for category in form.fields.category.queryset %}
        <button
          type="button"
          class="category-tab text-gray-300 py-2 px-4 text-sm font-medium focus:outline-none focus:ring-2 focus:ring-blue-500 focus:text-blue-400 bg-gray-700 hover:bg-gray-600 rounded-md"
          data-value="{{ category.id }}"
        >
          {{ category.name }}
        </button>
        {% endfor %}
      </div>
      <input
        type="hidden"
        id="id_category"
        name="category"
        value="{{ form.fields.category.value }}"
      />
    </div>

    <!-- Submit and Cancel buttons -->
    <div class="flex justify-end space-x-3">
      <a
        href="{% url 'transactions:user_transactions' %}"
        class="btn-cancel py-2 px-4 border border-gray-600 rounded-md shadow-sm text-sm font-medium text-gray-300 bg-gray-700 hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-blue-500"
      >
        Cancel
      </a>
      <button
        type="submit"
        class="btn-save py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500"
      >
        Save
      </button>
    </div>

    {% if form.non_field_errors %}
    <div class="alert-error rounded-md bg-red-700 p-4 mt-4">
      <div class="flex">
        <div class="ml-3">
          <h3 class="text-sm font-medium text-white">There was a problem.</h3>
          <div class="mt-2 text-sm text-red-200">
            <ul role="list" class="list-disc pl-5 space-y-1">
              {% for error in form.non_field_errors %}
              <li>{{ error }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </form>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Handle Transaction Type tab click
    var transactionTypeTabs = document.querySelectorAll(
      ".transaction-type-tab"
    );
    transactionTypeTabs.forEach(function (tab) {
      tab.addEventListener("click", function () {
        document.getElementById("id_transaction_type").value =
          this.getAttribute("data-value");
        setActiveTab(transactionTypeTabs, this);
      });
    });

    // Handle Wallet tab click
    var walletTabs = document.querySelectorAll(".wallet-tab");
    walletTabs.forEach(function (tab) {
      tab.addEventListener("click", function () {
        document.getElementById("id_wallet").value =
          this.getAttribute("data-value");
        setActiveTab(walletTabs, this);
      });
    });

    // Handle Budget tab click
    var budgetTabs = document.querySelectorAll(".budget-tab");
    budgetTabs.forEach(function (tab) {
      tab.addEventListener("click", function () {
        document.getElementById("id_budget").value =
          this.getAttribute("data-value");
        setActiveTab(budgetTabs, this);
      });
    });

    // Handle Goal tab click
    var goalTabs = document.querySelectorAll(".goal-tab");
    goalTabs.forEach(function (tab) {
      tab.addEventListener("click", function () {
        document.getElementById("id_goal").value =
          this.getAttribute("data-value");
        setActiveTab(goalTabs, this);
      });
    });

    // Handle Category tab click
    var categoryTabs = document.querySelectorAll(".category-tab");
    categoryTabs.forEach(function (tab) {
      tab.addEventListener("click", function () {
        document.getElementById("id_category").value =
          this.getAttribute("data-value");
        setActiveTab(categoryTabs, this);
      });
    });

    // Function to clear active states and set the active tab
    function setActiveTab(tabs, activeTab) {
      tabs.forEach(function (tab) {
        tab.classList.remove("text-blue-400", "ring-blue-500");
        tab.classList.add("text-gray-300");
      });
      activeTab.classList.remove("text-gray-300");
      activeTab.classList.add("text-blue-400", "ring-blue-500");
    }
  });
</script>

{% endblock %}
