{% extends 'base.html' %}
{% block content %}
<div class="pt-10 flex justify-center">
  <div class="container mx-auto flex">
    <!-- Tabs (Sidebar) -->
    <div class="flex flex-col w-1/4 bg-gray-800 p-4 rounded-lg shadow-lg">
      <a class="py-2 px-4 text-white font-semibold hover:bg-gray-700 cursor-pointer" id="profile-tab">Profile</a>
      <a class="py-2 px-4 text-white font-semibold hover:bg-gray-700 cursor-pointer mt-4" id="wallets-tab">Wallets</a>
    </div>
    <!-- Tab Contents -->
    <div class="ml-8 flex-grow">
      <div class="tab-content bg-gray-800 p-6 rounded-lg shadow-lg" id="profile-content">
        <!-- Profile Content Here -->
        <div class="max-w-md w-full bg-gray-700 rounded-lg shadow-lg py-8 px-6">
          <h2 class="text-2xl font-semibold leading-6 text-white text-center mb-6">Complete Your Profile</h2>
          <form method="post" enctype="multipart/form-data" class="space-y-4">
            {% csrf_token %}
            {% for error in form.errors %}
            <p class="text-red-500 text-xs italic">{{ error }}</p>
            {% endfor %}
            
            <!-- First Name Field -->
            <div class="mb-4">
              <label for="id_first_name" class="block text-sm font-medium text-gray-300">First Name</label>
              <input type="text" name="first_name" id="id_first_name" class="mt-1 block w-full rounded-md bg-gray-800 border-transparent focus:border-sky-500 focus:ring-sky-500 text-white" required value="{{ user_form.instance.first_name }}">
            </div>
            
            <!-- Last Name Field -->
            <div class="mb-4">
              <label for="id_last_name" class="block text-sm font-medium text-gray-300">Last Name</label>
              <input type="text" name="last_name" id="id_last_name" class="mt-1 block w-full rounded-md bg-gray-800 border-transparent focus:border-sky-500 focus:ring-sky-500 text-white" required value="{{ user_form.instance.last_name }}">
            </div>
            
            <!-- Profile Image Upload -->
            <div class="mb-4">
              <label for="id_image" class="block text-sm font-medium text-gray-300">Profile Image</label>
              <input type="file" name="image" id="id_image" class="mt-1 block w-full text-sm text-gray-300 file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold file:bg-sky-500 file:text-white hover:file:bg-sky-600" accept="image/*">
            </div>
            
            <!-- Submit Button -->
            <div class="flex justify-end">
              <button type="submit" class="inline-flex items-center justify-center rounded-md bg-sky-500 text-white font-semibold hover:bg-sky-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-sky-500 px-4 py-2">Save Changes</button>
            </div>
          </form>
        </div>
      </div>
      <div class="tab-content hidden bg-gray-800 p-6 rounded-lg shadow-lg mt-6" id="wallets-content">
        <!-- Wallets Content Here -->
        <div class="bg-gray-700 p-6 rounded-lg shadow-lg">
          <h2 class="text-3xl font-semibold text-white mb-6">Your Wallets</h2>
          <ul class="space-y-4">
            {% for wallet in wallets %}
            <li class="flex justify-between items-center bg-gray-800 p-4 rounded-md">
              <span class="text-white font-medium">{{ wallet.name }}</span>
              <div>
                <a href="{% url 'transactions:update_wallet' pk=wallet.pk %}"
                  class="text-sm bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded-lg transition duration-300 ease-in-out mr-2">
                  Update
                </a>
                <a href="{% url 'transactions:delete_wallet' pk=wallet.pk %}"
                  class="text-sm bg-red-500 hover:bg-red-600 text-white py-2 px-4 rounded-lg transition duration-300 ease-in-out">
                  Delete
                </a>
              </div>
            </li>
            {% empty %}
            <li class="text-white text-center">
              No wallets available.
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", () => {
  const tabs = document.querySelectorAll(".flex-col > a");
  const profileContent = document.querySelector("#profile-content");
  const walletsContent = document.querySelector("#wallets-content");

  tabs.forEach((tab) => {
    tab.addEventListener("click", (e) => {
      e.preventDefault();

      // Hide all content
      profileContent.classList.add("hidden");
      walletsContent.classList.add("hidden");

      // Deactivate all tabs
      tabs.forEach((t) => {
        t.classList.remove("bg-gray-700");
        t.classList.add("bg-gray-800");
      });

      // Activate the clicked tab and show content
      if (e.target.id === "profile-tab") {
        profileContent.classList.remove("hidden");
      } else if (e.target.id === "wallets-tab") {
        walletsContent.classList.remove("hidden");
      }
      e.target.classList.remove("bg-gray-800");
      e.target.classList.add("bg-gray-700");
    });
  });
});
</script>
{% endblock %}
