{% extends "base.html" %}
{% block content %}
<div class="min-h-screen pt-10 text-white">
  <div class="container mx-auto flex">
    <!-- Sidebar -->
    <div class="w-1/4 bg-gray-800 p-4 rounded-lg shadow-lg">
      <a
        href="#"
        class="py-2 px-4 text-white font-semibold hover:bg-gray-700 cursor-pointer block mb-4"
        data-tab="profile"
        >Profile</a
      >
      <a
        href="#"
        class="py-2 px-4 text-white font-semibold hover:bg-gray-700 cursor-pointer block mb-4"
        data-tab="wallets"
        >Wallets</a
      >
      <a
        href="#"
        class="py-2 px-4 text-white font-semibold hover:bg-gray-700 cursor-pointer block mb-4"
        data-tab="categories"
        >Categories</a
      >
    </div>
    <!-- Main Content -->
    <div class="ml-8 flex-grow">
      <div class="bg-gray-800 p-6 rounded-lg shadow-lg">
        <div class="tab-content" id="profile-content">
          {% include 'accounts/profile_update.html' %}
        </div>
        <div class="tab-content hidden" id="wallets-content">
          {% include "wallets/wallet_settings.html" %}
        </div>
        <div class="tab-content hidden" id="categories-content">
          {% include "categorys/category_settings.html" %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block javascript%}
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const tabs = document.querySelectorAll("[data-tab]");
    const tabContents = document.querySelectorAll(".tab-content");

    function hideAllTabContents() {
      tabContents.forEach((content) => {
        content.classList.add("hidden");
      });
    }

    function deactivateAllTabs() {
      tabs.forEach((tab) => {
        tab.classList.remove("bg-gray-700");
        tab.classList.add("bg-gray-800");
      });
    }

    tabs.forEach((tab) => {
      tab.addEventListener("click", (e) => {
        e.preventDefault();

        const tabName = tab.getAttribute("data-tab");
        const tabContent = document.getElementById(`${tabName}-content`);

        // Hide all tab contents and deactivate all tabs
        hideAllTabContents();
        deactivateAllTabs();

        // Show the corresponding tab content
        tabContent.classList.remove("hidden");

        // Activate the clicked tab
        tab.classList.remove("bg-gray-800");
        tab.classList.add("bg-gray-700");
      });
    });

    // Manually activate the first tab on page load
    tabs[0].click();
  });
</script>
{% endblock %}