{% extends "account/base_entrance.html" %}
{% load widget_tweaks %}
{% load i18n %}
{% load allauth %}
{% load account %}

{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}

{% block content %}
<div class="min-h-screen bg-gray-100 flex flex-col justify-center py-12 sm:px-6 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-md">
        <h1 class="text-center text-3xl font-extrabold text-gray-900">
            {% trans "Password Reset" %}
        </h1>
        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% else %}
            <p class="mt-2 text-center text-sm text-gray-600">
                {% trans "Forgotten your password? Enter your email address below, and we'll send you an email allowing you to reset it." %}
            </p>
            <form class="mt-8 space-y-6" action="{% url 'account_reset_password' %}" method="post">
                {% csrf_token %}
                <div class="rounded-md shadow-sm -space-y-px">
                    {{ form.email|add_class:"appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" }}
                </div>
                <div>
                    <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                        {% trans "Reset My Password" %}
                    </button>
                </div>
            </form>
            <p class="mt-2 text-sm text-center text-gray-600">
                {% trans "Please contact us if you have any trouble resetting your password." %}
            </p>
        {% endif %}
    </div>
</div>
{% endblock content %}
