{% extends "account/base_entrance.html" %}
{% load i18n %}
{% block title %} {% trans "Password Reset" %} | FinSmart {% endblock %}
{% block content %}
<div class="min-h-screen flex items-center justify-center bg-gray-100 py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full space-y-8 bg-gray-800 p-6 rounded-lg shadow-md">
        <div>
            <h2 class="mt-6 text-center text-3xl font-extrabold text-white">{% trans "Password Reset" %}</h2>
        </div>
        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% else %}
            <div class="mt-4 bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
                <p class="text-sm text-gray-600">
                    {% blocktrans %}
                        We have sent you an email. If you have not received it, please check your spam folder. Otherwise, contact us if you do not receive it in a few minutes.
                    {% endblocktrans %}
                </p>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}