{% extends "base.html" %} 
{% load static %} 
{% load i18n %} 
{% block title %} Signup | FinSmart {% endblock %} 
{% block content %}

<div class="flex justify-center mx-auto mt-32">
  <div class="relative bg-black mt-12 w-full max-w-lg py-5 lg:rounded-xl">
    <div
      class="relative -mb-px h-px w-full bg-gradient-to-r from-transparent via-sky-300 to-transparent"
      bis_skin_checked="1"
    ></div>
    <div
      class="mx-5 border dark:border-b-white/50 dark:border-t-white/50 border-b-white/20 sm:border-t-white/20 shadow-[20px_0_20px_20px] shadow-slate-500/10 dark:shadow-white/20 rounded-lg border-white/20 border-l-white/20 border-r-white/20 sm:shadow-sm lg:rounded-xl lg:shadow-none"
    >
      <div class="flex flex-col p-6">
        <h1
          class="text-2xl pb-4 font-semibold leading-6 tracking-tighter text-white"
        >
          {% trans "Sign Up" %}
        </h1>
        <p class="mt-1.5 text-sm font-medium text-white">
          {% blocktrans %}Already have an account? Then please
          <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}
        </p>
      </div>
      <div class="p-6 pt-0">
        <form method="post" action="{% url 'account_signup' %}">
          {% csrf_token %}
          <div>
            <div>
              <div
                class="group relative rounded-lg border focus-within:border-sky-200 px-3 pb-1.5 pt-2.5 duration-200 focus-within:ring focus-within:ring-sky-300/30"
              >
                <div class="flex justify-between">
                  <label
                    class="text-xs font-medium text-muted-foreground group-focus-within:text-white text-gray-400"
                    >Email</label
                  >
                </div>
                {{ form.email }}
              </div>
              <div
                class="text-xs font-medium text-muted-foreground group-focus-within:text-white text-gray-400"
              >
                {{ form.email.errors }}
              </div>
            </div>
          </div>
          <div class="mt-4">
            <div>
              <div
                class="group relative rounded-lg border focus-within:border-sky-200 px-3 pb-1.5 pt-2.5 duration-200 focus-within:ring focus-within:ring-sky-300/30"
              >
                <div class="flex justify-between">
                  <label
                    class="text-xs font-medium text-muted-foreground group-focus-within:text-white text-gray-400"
                    >Username</label
                  >
                </div>
                <div class="flex items-center">{{ form.username }}</div>
                <div
                  class="text-xs font-medium text-muted-foreground group-focus-within:text-white text-gray-400"
                >
                  {{ form.username.errors }}
                </div>
              </div>
            </div>
          </div>
          <div class="mt-4">
            <div>
              <div
                class="group relative rounded-lg border focus-within:border-sky-200 px-3 pb-1.5 pt-2.5 duration-200 focus-within:ring focus-within:ring-sky-300/30"
              >
                <div class="flex justify-between">
                  <label
                    class="text-xs font-medium text-muted-foreground group-focus-within:text-white text-gray-400"
                    >Password</label
                  >
                </div>
                <div class="flex items-center">{{ form.password1 }}</div>
                <div
                  class="text-xs font-medium text-muted-foreground group-focus-within:text-white text-gray-400"
                >
                  {{ form.password1.errors }}
                </div>
              </div>
            </div>
          </div>
          <div class="mt-4">
            <div>
              <div
                class="group relative rounded-lg border focus-within:border-sky-200 px-3 pb-1.5 pt-2.5 duration-200 focus-within:ring focus-within:ring-sky-300/30"
              >
                <div class="flex justify-between">
                  <label
                    class="text-xs font-medium text-muted-foreground group-focus-within:text-white text-gray-400"
                    >Password</label
                  >
                </div>
                <div class="flex items-center">{{ form.password2 }}</div>
                <div
                  class="text-xs font-medium text-muted-foreground group-focus-within:text-white text-gray-400"
                >
                  {{ form.password2.errors }}
                </div>
              </div>
            </div>
          </div>
          <div class="flex justify-between">
            <label
              class="text-xs font-medium text-muted-foreground group-focus-within:text-white text-gray-400"
            >
              {% if form.non_field_errors %}
              <div class="error-messages">
                {% for error in form.non_field_errors %}
                <p class="error">{{ error }}</p>
                {% endfor %}
              </div>
              {% endif %}</label
            >
          </div>
          {% if redirect_field_value %}
          <input
            type="hidden"
            name="{{ redirect_field_name }}"
            value="{{ redirect_field_value }}"
          />
          {% endif %}
          <div class="mt-4 flex items-center justify-end gap-x-2">
            <button
              class="font-semibold hover:bg-black hover:text-white hover:ring hover:ring-white transition duration-300 inline-flex items-center justify-center rounded-md text-sm focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-white text-black h-10 px-4 py-2"
              type="submit"
            >
              Sign Up
            </button>
          </div>
        </form>
        <!-- Include socialaccount login links if social account is enabled -->
        {% if socialaccount_providers %} {% include
        "socialaccount/snippets/provider_list.html" %} {% endif %}
         {% endblock content %}
      </div>
    </div>
  </div>
</div>
