{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<div class="max-w-4xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
    <form method="post" action="{% url 'export:export_csv' %}" class="bg-gray-800 p-6 rounded-lg shadow space-y-8">
        {% csrf_token %}
        <div class="text-white">
            <h3 class="text-lg leading-6 font-medium text-white">Export Transactions</h3>
            <p class="mt-1 text-sm text-gray-400">
                Select the date range for the transactions you want to export.
            </p>
        </div>
        <div class="grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
            <div class="sm:col-span-3">
                <label for="start_date" class="block text-sm font-medium text-gray-300">
                    Start Date
                </label>
                <div class="mt-1">
                    {{ form.start_date|add_class:"shadow-sm focus:ring-blue-500 focus:border-blue-500 block w-full sm:text-sm border-gray-600 rounded-md bg-gray-700 text-white" }}
                </div>
            </div>

            <div class="sm:col-span-3">
                <label for="end_date" class="block text-sm font-medium text-gray-300">
                    End Date
                </label>
                <div class="mt-1">
                    {{ form.end_date|add_class:"shadow-sm focus:ring-blue-500 focus:border-blue-500 block w-full sm:text-sm border-gray-600 rounded-md bg-gray-700 text-white" }}
                </div>
            </div>
        </div>

        <div class="pt-5">
            <div class="flex justify-end">
                <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                    Export Transactions
                </button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
