    {% extends 'base.html' %}
    {% load humanize %}
    {% load widget_tweaks %}
    {% block content %}
    <div class="max-w-7xl mx-auto py-8 px-4 sm:px-6 lg:px-8">
        <!-- Alerts and Appreciation Messages -->
        <div class="mt-4">
            <!-- If there is an alert, display it full width -->
            {% if budgets|length > 0 %}
                <div class="grid grid-cols-1 gap-4">
                    {% for budget in budgets %}
                        {% if budget.remaining_budget_percentage == 0 %}
                            <div class="bg-red-500 text-white px-4 py-3 rounded-lg shadow-sm">
                                <strong>Alert!</strong> You've used all your {{ budget.name }} budget.
                            </div>
                        {% elif budget.remaining_budget_percentage < 20 %}
                            <div class="bg-orange-500 text-white px-4 py-3 rounded-lg shadow-sm">
                                <strong>Warning!</strong> You've used over 80% of your {{ budget.name }} budget.
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
            
            {% if goals|length > 0 %}
                <div class="grid grid-cols-1 gap-4 mt-4">
                    {% for goal in goals %}
                        {% if goal.remaining_budget_percentage == 100 %}
                            <div class="bg-green-500 text-white px-4 py-3 rounded-lg shadow-sm">
                                <strong>Congratulations!</strong> You've reached your {{ goal.name }} goal.
                            </div>
                        {% elif goal.remaining_budget_percentage >= 80 %}
                            <div class="bg-blue-500 text-white px-4 py-3 rounded-lg shadow-sm">
                                <strong>Almost there!</strong> You're close to reaching your {{ goal.name }} goal.
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <!-- Quick Access Panel -->
        <div class="mb-8 mt-4">
            <div class="bg-gray-900 p-6 rounded-lg shadow-md">
                <h2 class="text-xl font-semibold text-white mb-4">Quick Access</h2>
                <div class="grid grid-cols-2 md:grid-cols-4 gap-4 text-center">
                    <!-- Add Transaction -->
                    <a href="{% url 'transactions:transaction_add' %}" class="flex flex-col items-center justify-center py-4 px-2 bg-blue-600 rounded-lg hover:bg-blue-700 transition duration-300 ease-in-out">
                        <i class='bx bx-transfer text-white text-4xl'></i>
                        <span class="mt-2 text-sm text-white">Add Transaction</span>
                    </a>
                    <!-- Create Wallet -->
                    <a href="{% url 'transactions:add_wallet' %}" class="flex flex-col items-center justify-center py-4 px-2 bg-yellow-600 rounded-lg hover:bg-yellow-700 transition duration-300 ease-in-out">
                        <i class='bx bx-wallet text-white text-4xl'></i>
                        <span class="mt-2 text-sm text-white">Create Wallet</span>
                    </a>
                    <!-- Create Goal -->
                    <a href="{% url 'goals:goal_create' %}" class="flex flex-col items-center justify-center py-4 px-2 bg-green-600 rounded-lg hover:bg-green-700 transition duration-300 ease-in-out">
                        <i class='bx bx-target-lock text-white text-4xl'></i>
                        <span class="mt-2 text-sm text-white">Create Goal</span>
                    </a>
                    <!-- Create Budget -->
                    <a href="{% url 'budgets:budget_create' %}" class="flex flex-col items-center justify-center py-4 px-2 bg-red-600 rounded-lg hover:bg-red-700 transition duration-300 ease-in-out">
                        <i class='bx bx-spreadsheet text-white text-4xl'></i>
                        <span class="mt-2 text-sm text-white">Create Budget</span>
                    </a>
                </div>
            </div>
        </div>

        <!-- Financial Tip of the Day Section -->
          <div class="mt-4 bg-gray-900 p-6 rounded-lg shadow-md">
            <h2 class="text-xl font-semibold text-white mb-4">Financial Tip of the Day</h2>
            <p class="text-white text-md">
                {{ tip_of_the_day }}
            </p>
        </div>

        <!-- Financial Summary and Chart Section -->
        <div class="mt-4 bg-gray-900 p-6 rounded-lg shadow-md">
            <div class="flex flex-col items-center text-center">
                <h2 class="text-xl font-semibold text-white mb-4">Financial Summary</h2>
                <p class="text-green-500 font-bold">Total Income: ₹{{ total_income|floatformat:2|intcomma }}</p>
                <p class="text-red-500 font-bold">Total Expenses: ₹{{ total_expenses|floatformat:2|intcomma }}</p>
            </div>
            <div class="mt-4">
                <!-- Date Range Selection -->
                <select id="dateRangeType" class="mb-4 bg-gray-800 text-white border border-gray-600 rounded px-4 py-2 focus:outline-none focus:border-blue-500">
                    <option value="daily">Daily</option>
                    <option value="weekly">Weekly</option>
                    <option value="monthly">Monthly</option>
                </select>

                <!-- Container for the chart -->
                <div id="chartContainer" class="bg-gray-800 p-4 rounded"></div>
            </div>
        </div>

        
        <!-- Stacked Bar Chart for Income and Expenses by Category -->
           <div class="mt-4 bg-gray-900 p-6 rounded-lg shadow-md">
                <h2 class="text-xl font-semibold text-white mb-4">Financial Overview</h2>
                <div class="flex flex-wrap justify-around items-center">
                    <div class="w-full lg:w-1/2 p-4">
                        <h3 class="text-lg font-semibold text-white mb-2">Income by Category</h3>
                        <div>{{ income_pie_div|safe }}</div>
                    </div>
                    <div class="w-full lg:w-1/2 p-4">
                        <h3 class="text-lg font-semibold text-white mb-2">Expenses by Category</h3>
                        <div>{{ expenses_pie_div|safe }}</div>
                    </div>
                </div>
        </div>

        <!-- Recent Transactions Section -->
        <div class="mt-4 bg-gray-900 p-6 rounded-lg shadow-md">
            <h2 class="text-xl font-semibold text-white mb-4">Recent Transactions</h2>
            <div class="overflow-x-auto">
                <table class="min-w-full text-white">
                    <thead>
                        <tr>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">Description</th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">Type</th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">Category</th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">Date</th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">Amount</th>
                        </tr>
                    </thead>
                    <tbody class="divide-y divide-gray-700">
                        {% for transaction in recent_transactions %}
                        <tr class="hover:bg-gray-700">
                            <td class="px-6 py-4 whitespace-nowrap text-sm">{{ transaction.description }}</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm">{{ transaction.get_transaction_type_display }}</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm">{{ transaction.category.name|default:"N/A" }}</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm">{{ transaction.transaction_date|date:"Y-m-d" }}</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm {% if transaction.transaction_type == 'debit' %}text-red-500{% elif transaction.transaction_type == 'credit' %}text-green-500{% endif %}">
                                ₹{{ transaction.amount|intcomma }}
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="5" class="text-center text-sm py-4">No recent transactions.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
      <!-- Other dashboard content here -->
    </div>
    {% endblock %}
{% block javascript %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var ajaxUrl = "{% url 'dashboard:transactions_date_range' %}";
    
        document.getElementById('dateRangeType').addEventListener('change', function() {
            var rangeType = this.value;
            fetchChartData(ajaxUrl, rangeType);
        });
    
        function fetchChartData(baseUrl, rangeType) {
            // Append the range type to the AJAX URL
            var fetchUrl = `${baseUrl}?range_type=${rangeType}`;
    
            fetch(fetchUrl)
            .then(response => response.json())
            .then(data => {
                updateChart(data.income, data.expenses);
            })
            .catch(error => console.error('Error fetching data:', error));
        }
    
        function updateChart(incomeData, expensesData) {
            console.log(incomeData, expensesData); // For debugging
            var incomeTrace = {
                x: incomeData.map(item => new Date(item.period)),
                y: incomeData.map(item => parseFloat(item.total)),
                fill: 'tozeroy',
                mode: 'lines',
                name: 'Income'
            };
            var expensesTrace = {
                x: expensesData.map(item => new Date(item.period)),
                y: expensesData.map(item => parseFloat(item.total)),
                fill: 'tozeroy',
                mode: 'lines',
                name: 'Expenses'
            };
            var layout = {
                title: 'Income and Expenses Over Time',
                titlefont: {
                    size: 22,
                    color: 'rgba(255,255,255, 0.9)',
                },
                xaxis: {
                    title: 'Date',
                    titlefont: {
                        size: 18,
                        color: 'rgba(255,255,255, 0.9)'
                    },
                    tickfont: {
                        color: 'rgba(255,255,255, 0.7)'
                    },
                    gridcolor: 'rgba(255,255,255, 0.3)'
                },
                yaxis: {
                    title: 'Amount',
                    titlefont: {
                        size: 18,
                        color: 'rgba(255,255,255, 0.9)'
                    },
                    tickfont: {
                        color: 'rgba(255,255,255, 0.7)'
                    },
                    gridcolor: 'rgba(255,255,255, 0.3)'
                },
                width: 1020, // Width in pixels
                height: 500, // Height in pixels
                margin: {l: 50, r: 50, t: 50, b: 50},
                paper_bgcolor: 'rgba(0,0,0,0)', // Fully transparent
                plot_bgcolor: 'rgba(0,0,0,0)', // Fully transparent
                legend: {
                    font: {
                        color: 'rgba(255,255,255, 0.8)'
                    }
                }
            };
            var config = {
                displayModeBar: true, // Display the modebar
                responsive: true, // Ensure the plot is responsive
                toImageButtonOptions: {
                    format: 'png', // Set the format of the image to download
                    filename: 'income_vs_expenses', // Set a custom filename for the downloaded image
                    height: 500, // Set the height of the downloaded image
                    width: 1020, // Set the width of the downloaded image
                    scale: 1 // Set the scale for the downloaded image
                },
                modeBarButtonsToRemove: [
                    'pan2d', // Remove pan tool
                    'select2d', // Remove selection tool
                    'lasso2d', // Remove lasso tool
                    'zoom2d', // Remove zoom (box) tool
                    'toggleSpikelines', // Remove spikeline tool
                    // 'hoverClosestCartesian', // Commented out to enable hover compare by default
                ],
                modeBarButtonsToAdd: [
                    // Additional buttons can be added here if necessary
                ],
                modeBarButtons: [
                    // Default buttons for zoom and reset
                    ['toImage', 'zoomIn2d', 'zoomOut2d', 'resetScale2d', 'hoverCompareCartesian']
                ]
            };
            Plotly.newPlot('chartContainer', [incomeTrace, expensesTrace], layout, config);

        }
    
        // Initial chart load with default range type
        fetchChartData(ajaxUrl, 'daily');
    });
    </script> 
{% endblock %}