{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
<div class="max-w-4xl mt-4 mx-auto py-8 px-4 sm:px-6 lg:px-8 bg-gray-900 rounded-lg ">
    <h1 class="text-2xl font-semibold text-white mb-6">{% if object %}Edit{% else %}Create{% endif %} Budget</h1>
    <form method="post" class="space-y-6 bg-gray-900 shadow sm:rounded-lg p-6">
        {% csrf_token %}
        <div class="grid grid-cols-1 gap-6">
            {% for field in form %}
            <div class="col-span-1" id="div_id_{{ field.name }}">
                <label for="{{ field.id_for_label }}" class="block text-sm font-medium text-white">{{ field.label }}</label>
                {% render_field field class="mt-1 bg-gray-800 text-white focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %}
                {% if field.help_text %}
                <p class="mt-2 text-sm text-gray-500">{{ field.help_text }}</p>
                {% endif %}
                {% if field.errors %}
                <p class="mt-2 text-sm text-red-600">{{ field.errors.as_text }}</p>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        <div class="flex justify-end">
            <button type="submit" class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                Save
            </button>
        </div>
    </form>
</div>
<script>
document.addEventListener('DOMContentLoaded', function () {
    const periodSelect = document.querySelector('#id_period'); // Make sure 'id_period' matches the actual ID
    const endDateDiv = document.querySelector('#div_id_end_date'); // This assumes you have a div with this ID around the end_date field

    function toggleEndDateVisibility() {
        // Check if the selected value is 'custom'
        if (periodSelect.value === 'custom') {
            endDateDiv.style.display = ''; // Show
        } else {
            endDateDiv.style.display = 'none'; // Hide
        }
    }

    // Initial check in case the form is loaded with an existing value
    toggleEndDateVisibility();

    // Add event listener to period select field
    periodSelect.addEventListener('change', toggleEndDateVisibility);
});
</script>
{% endblock %}
