{% extends 'base.html' %}
{% load humanize %}
{% load widget_tweaks %}
{% block content %}
<div class="max-w-4xl mx-auto py-8 px-4 sm:px-6 lg:px-8 bg-gray-900 rounded-lg shadow-lg">
    <div class="flex justify-between items-center mb-8">
        <h1 class="text-4xl font-bold text-white">Budgets</h1>
        <a href="{% url 'budgets:budget_create' %}" class="flex items-center px-6 py-3 bg-blue-600 hover:bg-blue-700 text-white font-medium rounded-md transition ease-in-out duration-300">
            <svg class="w-5 h-5 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"></path>
            </svg>
            Add Budget
        </a>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        {% for budget in budgets %}
        <div class="budget-item bg-gray-800 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300 ease-in-out"
     data-budget-id="{{ budget.pk }}">
            {% if budget.remaining_budget_percentage == 0%}
            
            <div class="bg-red-600 text-white px-4 py-3 rounded-t-lg" role="alert">
                <strong class="font-bold">Alert!</strong>
                <span>You've used all your {{ budget.name }} budget.</span>
            </div>
            {% elif budget.remaining_budget_percentage < 20 %}
            <div class="bg-red-600 text-white px-4 py-3 rounded-t-lg" role="alert">
                <strong class="font-bold">Warning!</strong>
                <span>You've used over 80% of your {{ budget.name }} budget.</span>
            </div>
            {% endif %}
            <div class="bg-gray-800 rounded-xl shadow-lg hover:shadow-xl transition-shadow duration-300 ease-in-out p-6 {% if budget.remaining_budget_percentage < 20 %}pt-0 rounded-t-none{% endif %}">
                <div class="flex justify-between items-center mb-4">
                    <h3 class="text-2xl text-white font-semibold">{{ budget.name }}</h3>
                    <div class="flex items-center">
                        <a href="{% url 'budgets:budget_update' budget.pk %}" class="text-sm px-4 py-2 bg-blue-500 hover:bg-blue-600 text-white rounded-md mr-2 transition duration-300 ease-in-out">
                            Edit
                        </a>
                        <a href="{% url 'budgets:budget_delete' budget.pk %}" class="text-sm px-4 py-2 bg-red-500 hover:bg-red-600 text-white rounded-md transition duration-300 ease-in-out">
                            Delete
                        </a>
                    </div>
                </div>
                <div class="w-full bg-gray-700 rounded-full h-2.5">
                    <div class="bg-blue-600 h-2.5 rounded-full" style="width: {{ budget.remaining_budget_percentage }}%;"></div>
                </div>            
                <div class="flex justify-between text-sm font-medium text-gray-300 mt-4">
                    <p>Remaining: ₹{{ budget.amount_remaining }}</p>
                    <p>Total: ₹{{ budget.total_budget }}</p>
                </div>
                {% if budget.days_remaining > 0 %}
                <div class="mt-4 bg-gray-700 rounded-lg px-6 py-4 text-center">
                    <p class="text-sm text-gray-400">You can spend ₹{{ budget.daily_spendable|floatformat:2 }}/day for the next {{ budget.days_remaining }} days</p>
                </div>
                {% endif %}
            </div>
        </div>
        {% empty %}
        <p class="text-white text-center w-full">No budgets to display.</p>
        {% endfor %}
    </div>
    <div id="transactions-container" class="mt-8">
        <!-- The transactions content will go here -->
    </div>
</div>
{% endblock %}
{% block javascript %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Attach click event listeners to each budget item
        document.querySelectorAll('.budget-item').forEach(item => {
            item.addEventListener('click', function() {
                const budgetId = this.getAttribute('data-budget-id');
                const budgetName = this.querySelector('h3').textContent;
                fetchTransactionsForBudget(budgetId, budgetName);
            });
        });
    });
    
    function fetchTransactionsForBudget(budgetId, budgetName) {
        // Fetch the transactions HTML from the server
        const url = `api/budgets/${budgetId}/transactions/`;
        fetch(url)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.text();
            })
            .then(html => {
                // Assuming you have a div with id="transactions-container" to display the transactions
                const transactionsContainer = document.getElementById('transactions-container');
                // Set the innerHTML to include the title and the fetched transactions HTML
                transactionsContainer.innerHTML = `<h2 class="text-xl font-semibold text-white">Transactions for ${budgetName}</h2>` + html;
            })
            .catch(error => {
                console.error('Error fetching transactions:', error);
            });
    }
    </script>
{% endblock %}